<section class="mywidget">
	<table cellpadding="2" cellspacing="2">
		<tr class="header">
			<td colspan="4">Position</td>
		</tr>
		<tr>
			<td>X</td>
			<td><input type="text" id="transformX" style="width: 4em;" /></td>
			<td>Y</td>
			<td><input type="text" id="transformY" style="width: 4em;" /></td>
		</tr>
		<tr>
			<td colspan="4">Size</td>
		</tr>
		<tr>
			<td>W</td>
			<td><input type="text" id="width" style="width: 4em;" /></td>
			<td>H</td>
			<td><input type="text" id="height" style="width: 4em;" /></td>
		</tr>
		<tr>
			<td colspan="4">Rotation</td>
		</tr>
		<tr>
			<td>Angle</td>
			<td><input type="text" id="rotation" style="width: 4em;" /></td>
			<td colspan="2">degree</td>
		</tr>
		<tr>
			<td colspan="4">Scale</td>
		</tr>
		<tr>
			<td>X</td>
			<td><input type="text" id="scaleX" style="width: 4em;" /></td>
			<td>Y</td>
			<td><input type="text" id="scaleY" style="width: 4em;" /></td>
		</tr>
		<tr>
			<td colspan="4">Reference Point</td>
		</tr>
		<tr>
			<td>X</td>
			<td><input type="text" id="refX" style="width: 4em;" /></td>
			<td>Y</td>
			<td><input type="text" id="refY" style="width: 4em;" /></td>
		</tr>
		<tr>
			<td colspan="4">Layer</td>
		</tr>
		<tr>
			<td>Z-Index</td>
			<td><input type="text" id="zIndex" style="width: 4em;" /></td>
		</tr>
		<tr id="resourceKeyTr">
			<td>Image</td>
			<td colspan="3">
				<input id="resourceKey"/>
		</tr>
		
	</table>
</section>
