<section class="mywidget">
	<div id="${engineDom}"></div>
	<div id="objectModifier">
		<div id="omTopLeft" class="resize"></div>
		<div id="omTopRight" class="resize"></div>
		<div id="omBottomLeft" class="resize"></div>
		<div id="omBottomRight" class="resize"></div>
		<div id="orTopLeft" class="rotate"></div>
		<div id="orTopRight" class="rotate"></div>
		<div id="orBottomLeft" class="rotate"></div>
		<div id="orBottomRight" class="rotate"></div>
		<div id="objectModifierInner">
			<div id="omRefPoint">
				<div id="omRefPointInner"></div>
			</div>
		</div>
	</div>
</section>
