<div>
	<div id="${changeKeyframe}">
		<select id='keyframeTypeSelect'>
			
		</select>
		<table cellspacing="2" cellpadding="2">
			<tr>
				<td colspan="4">Position 1</td>
			</tr>
			<tr>
				<td>X</td>
				<td><input id="p1X" style="width: 4em;" type="text"></td>
				<td>Y</td>
				<td><input id="p1Y" style="width: 4em;" type="text"></td>
			</tr>
			<tr>
				<td colspan="4">Position 2</td>
			</tr>
			<tr>
				<td>X</td>
				<td><input id="p2X" style="width: 4em;" type="text"></td>
				<td>Y</td>
				<td><input id="p2Y" style="width: 4em;" type="text"></td>
			</tr>
		</table>
	</div>
	<div id="${selectKeyframe}">
		<span>Please select a Keyframe</span>
	</div>
</div>