
#addScene {
	background-image: url("../images/add.png");
    background-position: 6px 50%;
    background-repeat: no-repeat;
    padding-left: 26px;
}


.editScene {
	background-image: url("../images/save.png");
    background-position: 50% 6px;
    background-repeat: no-repeat;
    padding-top: 22px;
    background-size: 16px 16px;
}
.deleteScene {
	background-image: url("../images/delete.png");
    background-position: 50% 6px;
    background-repeat: no-repeat;
    padding-top: 22px;
    background-size: 16px 16px;
    position: absolute;
    right: 8px;
}

.sceneitem {
	height: 30px;
	margin-bottom: 2px;
    width: 100%;
}

#sceneItems {
	width: 100%;
	border: 1px solid #797979;
	margin-top: 4px;
}

#activeSceneBox {
	margin-bottom: 16px;
}

.sceneitem:nth-child(odd) {
	background-color: #EEEEEE;
}
.sceneitem:nth-child(even) {
}
